body{
  background: rgb(230,157,111);
  background: linear-gradient(90deg, rgba(230,157,111,1) 0%, rgba(69,112,252,1) 100%);

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif; /*todo: need to import webfont*/ 
}

.flex {
  display: flex;
}

.flex.row{
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flex.column{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.canvas-cont {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#canvas3d {
  width: 100%;
  height: 100%;
}

nav {
  width: 80%;
  height: 10vh;
  background-color: black;
  border-radius: 16px;
  position: fixed;
  z-index: 10;
  display: grid;
  justify-content: normal;
  grid-template-rows: auto;
  border: 2px solid #828282;
}

.header{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: min-content auto max-content;
  grid-template-areas: logo links nav-button;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.logo{
  align-self: center;
}

.links{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: none;
  margin: none;
  color: #fff;
}

.links li{
  margin: 0 15px;
}

.links a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.nav-button{
  justify-content: center;
  margin: 0 10px 0 0;
  color: #fff;
  font-weight: 900;
  border-radius: 12px;
  background-color: #e69d6f;
  align-items: flex-end;
}

.nav-button a{
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  padding: 0 6px;
}

.logo h1{
  position: relative;
  font-size: 20px;
  padding: 10px;
  margin: 4px;
  top: auto;
  color: #fff;
}

nav p{
  padding: 10px;
  margin: 4px;
}

.bar {
  height: 100%;
  width: 0%;
  position: absolute;
  right: 0;
  top: 0;
  /* background-color: #4670fb; */
  background-color: #000C1F;
  z-index: -5;
}

p {
  margin: 0;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
}


h2{
  font-size: 40px;
  line-height: 1;
  color: #fff;
}

#hero{
  height: 150vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 80px;
  padding: 20px 80px;
}

.hero-logo{
  width: 60px;
  height: 60px;
  border-radius: 18px;
  background: linear-gradient(225deg, #FF7575 0%, #31C1FF 100%);
  z-index: 5;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 40px;
  top: 15vh;
}

#hero h1 {
  font-size: 3.5vw;
  top: calc(100vh - 40vw);
  font-weight: 800;
  left: 20px;
  letter-spacing: -2px;
  color: #fff;
  z-index: 5;
  grid-column-start: auto;
  padding: 0 20px;
  margin-bottom: 10px;
}

#hero button{
  height: 70px;
  width: 180px;
  border-radius: 12px;
  padding: 10px;
  margin: 20px;
  background-color: #4670fb;
  border: none;
  margin-bottom: 40px;
}

#hero button:hover{
  background-color: #4670fbb2;
  border: 4px solid #4670fb;
  padding-left: 20px;
}

#hero p{
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 40px;
}

.hero-copyright span{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 20px;
  margin-top: 40px;
}

#hero button a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: -1px;
}

#part1{
  width: 100%;
  height: 150vh;
}

.part1-info{
  width: 30%;
  gap: 40px;
  padding: 1%;
  flex-direction: column;
  left: 5vw;
}

#part2{
  width: 100%;
  height: 150vh;
}

.part2-info{
  width: 30%;
  gap: 40px;
  padding: 1%;
  flex-direction: column;
}

#part3{
  width: 100%;
  height: 100vh;
}

.part3-info{
  width: 30%;
  gap: 40px;
  padding: 1%;
  flex-direction: column;
}

.part3-info .input-area{
  position: relative;
  margin: 10px;
  height: 40vh;
  width: 30vw;
}

.part3-info input, .part3-info textarea{
  display: block;
  padding: 12px;
  border-radius: 6px;
  outline: none;
  resize: none;
}

.gradient-border{
  --border-width: 6px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    /*background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );*/
    background: linear-gradient(60deg, hsl(0, 85%, 30%), hsl(10, 85%, 30%), hsl(220, 85%, 30%), hsl(230, 85%, 30%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

.gradient-border:hover {
  box-shadow: 0 0 60px rgba(24, 124, 255, 0.64);
}

@keyframes moveGradient {
50% {
  background-position: 100% 50%;
}
}
